@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

//colors
$grey: #b9c9c8;
$orange: #f0dec8;
$dark: #444443;

//font
$font-family: "Roboto", sans-serif;

$font-weight: (
  "small": 100,
  "medium": 400,
  "bold": 500,
  "bolder": 700,
);
